<ion-view>
	<div class="indexStyle">
	<div class="bar bar-header bar-positive" >
		<button class="button button-icon icon icon-set"></button>
		<h1 class="title">首页</h1>
		<button class="button button-icon icon icon-Sweep"></button>
	</div>
	<!-- heaaer -->

	    <a class="item item-avatar indexSub" href="#" style="margin-top:40px;background-color:#3ca7ed;padding-top:35px;padding-bottom:15px; ">

	      <img src="images/avatar.png">
	      <i class="icon ion-ios-arrow-right" style="float:right;font-size:30px"></i> 
	      <h2>小松鼠坚果（张衡路店) </h2>
	      <p><i class="icon ion-iphone"></i>  13120751718</p>
	      
	    </a>

	    
	<div class="row indexSub2" style="margin-bottom:4%;">
		<div class="col"><img src="images/tongji.png" alt=""><br>统计</div>
		<div class="col"><img src="images/jimao.png" alt=""><br>我的鸡毛</div>
	</div>
	<div class="content" >
		<div class="row box">
			<a href="#/goodsList"><div class="col"><img src="images/jimaosp.png" alt=""><br>鸡毛商品</div></a>
			<div class="col"><img src="images/dingd.png" alt=""><br>鸡毛订单</div>
			<div class="col"><img src="images/ad.png" alt="" style="border-right:none"><br>店铺广告</div>
		</div>
		<div class="row box">
			<div class="col"><img src="images/bm.png" alt=""><br>鸡毛商品</div>
			<div class="col"><img src="images/zx.png" alt=""><br>鸡毛订单</div>
			<div class="col"><img src="images/yh.png" alt="" style="border-right:none"><br>店铺广告</div>
		</div>
		<div class="row box">
			<div class="col"><img src="images/yl.png" alt=""><br>鸡毛商品</div>
			<div class="col"><img src="images/jimaosp.png" alt=""><br>鸡毛订单</div>
			<div class="col"><img src="images/jimaosp.png" alt="" style="border-right:none"><br>店铺广告</div>
		</div>
	</div>
	
	<!-- content -->
  	<!-- <div class="bar bar-footer">
  		<div class="tabs tabs-icon-top tabs-light">
	  <a class="tab-item" style="border-right:1px solid #ddd;">
	    <i class="icon ion-home"></i>
	    首页
	  </a>
	  <a class="tab-item">
	    <i class="icon icon-shop2"></i>
	    我的店铺
	  </a>
	</div>
  	</div> -->
	<!-- footer -->
</div>
</ion-view>
