

<!DOCTYPE html>
<html lang="en" ng-app="ionic">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
	<title>Search</title>
	<link rel="stylesheet" href="../css/ionic.min.css">
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/ionic.bundle.js"></script>
</head>
<body >
	<div class="myShop claimShopSearch">
		<div class="bar bar-header bar-positive item-input-inset">
	  	<button class="button button-icon icon ion-ios-arrow-left"></button>
		<label class="item-input-wrapper">
	   <!--  <i class="icon ion-ios-search placeholder-icon"></i> -->
		   <input type="search" placeholder="试试搜索其他的特惠，如餐饮">
		</label>
		<button class="button button-icon icon ion-ios-search-strong"></button> 
	</div>

	
	<!-- header -->
	<ion-content style="margin-top:40px;">
		<form action="">
			<div class="list">

			  <div class="item item-divider">
			    搜索历史
			  </div>

			  <a class="item" href="#">
			    汽车修理
			  </a>
			  <a class="item" href="#">
			    外卖
			  </a>
			  <a class="item " href="#" style="padding-left:37%;">
			    清除历史记录
			  </a>
			</div>
	<!-- form -->
		</form>
		
	</ion-content>
	</div>
	
</body>
</html>