<!DOCTYPE html>
<html lang="en" ng-app="ionic">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
	<title>店铺资料</title>
	<link rel="stylesheet" href="../css/ionic.min.css">
	<link rel="stylesheet" href="../css/icomoon.css">
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/ionic.bundle.js"></script>
</head>
<body>
	<div class="myShop">
		<div class="bar bar-header bar-positive">
	  <button class="button button-icon icon ion-ios-arrow-left"></button>
	  <div class="h1 title">店铺资料</div>
	  <!-- <button class="button button-icon icon ">登录</button>   -->
	</div>
	<!-- header -->
	<ion-content style="margin-top:40px;">
		<form action="">
			<div class="list myShopList myShopdetials">
				<a href="" class="item item-thumbnail-left" >
					<img src="../images/1.jpg">
					<h3>一茶一座(张江高科店) <span>订</span> <span>惠</span></h3>
					<h4><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i></h4>
					<br> 		
				</a>
			</div>
			<ion-list class="myShopList">
			  	<ion-item ui-sref="#" class="item-icon-left item-icon-right" nav-transition="ios">
			  		
			  		<i class="icon icon-map"></i>
					碧波路635号上海传奇广场1楼03室(近 张江地铁站)
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
				<ion-item ui-sref="#" class="item-icon-left item-icon-right" nav-transition="ios">
					<i class="icon icon-phoneL"></i>
					50808586
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			</ion-list>
	<!-- form -->
		</form>
		
	</ion-content>
	<div></div>
	<div class="detials-footer tabs tabs-icon-top tabs-light">
	  <a class="tab-item">
	    <i class="icon icon-shop2"></i>
	    认领店铺
	  </a>
	  <a class="tab-item">
	    <i class="icon icon-wrong"></i>
	    纠错
	  </a>
	</div>
	</div>
</body>
</html>