<!DOCTYPE html>
<html lang="en" ng-app="ionic">
<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>店铺列表</title>
	<link rel="stylesheet" href="../css/ionic.min.css">
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/ionic.bundle.js"></script>
</head>
<body>
	<div class="goodsList myShop myShopList">
		<ion-header-bar align-title="center" class="bar-positive" no-tap-scroll="false">
		<button class="button button-icon icon ion-ios-arrow-left"></button>
		<h1 class="title">店铺列表</h1>
		<button class="button button-icon icon ion-ios-search-strong"></button>

	</ion-header-bar>
	<!-- heaaer -->
			<ion-view>
				<ion-content class="light-bg">
					<div class="list myShopList">
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>一茶一座(张江高科店) <span>订</span> <span>惠</span></h3>
							<h4><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i></h4>
							<br>
				      		<p><strong>可预订</strong><span>300米</span></p>	
						</a>
					</div>
		<!-- goods style 2 -->
				</ion-content>
			</ion-view>
	</div>
</body>
</html>