<!DOCTYPE html>
<html lang="en" ng-app="ionic">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
	<title>店铺基本资料</title>
	<link rel="stylesheet" href="../css/ionic.min.css">
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/ionic.bundle.js"></script>
</head>
<body class="myShop">
	<div class="bar bar-header bar-positive">
	  
	  <div class="h1 title">店铺基本资料</div>
	  <button class="button button-icon icon ">取消</button>  
	</div>
	<!-- header -->
	<ion-content style="margin-top:70px;">
		<form action="">
			<div class="list">
			  <label class="item item-input">
			    <span class="input-label">店铺名称</span>

			    <input type="text" placeholder="        4-30字符 （必填）">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">详细地址</span>

			    <input type="text" placeholder="        4-30字符的详细地址 （必填）">
			  </label>
			  <br>
			  <label class="item item-input">
			    <span class="input-label">服务类型</span>

			    <input type="text" placeholder="        请选择 （必填）">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">负&nbsp;&nbsp;责&nbsp;&nbsp;人</span>

			    <input type="text" placeholder="        2-6字汉字或字母 （必填）">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">服务手机</span>

			    <input type="text" placeholder="        输入您的手机号码 （必填）">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">服务座机</span>

			    <input type="text" placeholder="        输入您的座机号码 （必填）">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">服务QQ&nbsp;&nbsp;</span>

			    <input type="text" placeholder="        请输入您的QQ号码 （必填）">
			  </label>
			  
			  <br>
			  <label class="item item-input" style="height:94px;">
			    <span class="input-label" >营业执照</span>
			    <div class="myShopPhoto">
			    	<i class="icon ion-android-camera"></i>
					<br>
					添加照片
			    </div>	
				<div class="myShopDashBox">
					选填
				</div>
				<div class="myShopDashBox">
					选填
				</div>
			  </label>

			  <label class="item item-input" style="height:94px;">
			    <span class="input-label" >门&nbsp;&nbsp;头&nbsp;&nbsp;照</span>
			    <div class="myShopPhoto">
			    	<i class="icon ion-android-camera"></i>
					<br>
					添加照片
			    </div>	
				<div class="myShopDashBox">
					必填
				</div>
				<div class="myShopDashBox">
					必填
				</div>
			  </label>
			  <div class="padding" style="margin-top:30px;">
			  	<button class="button button-block button-positive">
					完成
				</button>
			  </div>
			  
			</div>
	<!-- form -->
		</form>
		
	</ion-content>
	<div></div>
	
</body>
</html>