<!DOCTYPE html>
<html lang="en" ng-app="ionic">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>商品详情</title>
	<link rel="stylesheet" href="../css/icomoon.css">
	<link rel="stylesheet" href="../css/ionic.min.css">
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/ionic.bundle.js"></script>
</head>
<body>
	<div class="detials" >
		<div class="bar bar-header bar-positive" >
		<button class="button button-icon icon ion-ios-arrow-left"></button>
		<h1 class="title">商品详情</h1>
		<button class="button button-icon icon ">编辑</button>
	</div>
	<!-- header --> 
	<ion-content style="margin-top:42px">
		<ion-slide-box  does-continue="true" auto-play="true">
		  <ion-slide>
		    <div class=""><img src="../images/3.jpg"></div>
		  </ion-slide>
		  <ion-slide>
		    <div class=""><img src="../images/2.jpg"></div>
		  </ion-slide>
		  <ion-slide>
		    <div class=""><img src="../images/5.jpg"></div>
		  </ion-slide>
		  <ion-slide>
		    <div class=""><img src="../images/6.jpg"></div>
		  </ion-slide>
		</ion-slide-box>



		<ul class="list" >
		    <li class="item">
				<h3 style="margin-bottom:10px;">可莎密儿北海道面包可莎密儿北海道面包可莎密儿北 海道面包</h3>
				<p style="margin-bottom:10px;"><span style="font-size:25px">99</span><span>.00鸡毛</span>&nbsp;<span>已兑31人</span>&nbsp;<span>剩余3天以上</span></p>
				<p style="color:#888" style="margin-bottom:10px;">店内价：￥100</p>
				<hr>
				<br>				
					<h2>商品详情</h2>
					<p>可莎密儿北海道面包原价25元现只要99鸡毛即可兑换.</p>
				<br><br><br><br><br><br><br><br><br><br>
		    </li>

		   
		</ul>
		
	</ion-content>
	<!-- content -->

	<div class="detials-footer tabs tabs-icon-top tabs-light">
	  <a class="tab-item">
	    <i class="icon icon-UN"></i>
	    下架
	  </a>
	  <a class="tab-item">
	    <i class="icon icon-clock"></i>
	    调整库存
	  </a>
	  <a class="tab-item">
	    <i class="icon icon-kucun"></i>
	    调整有效期
	  </a>
	</div>

	<!-- footer -->
</body>
	</div>
	<!-- detials -->
</html>