<ion-view>
	>
	<div class="goodsList">
		<ion-header-bar align-title="center" class="bar-positive" no-tap-scroll="false">
			<button class="button button-icon icon ion-ios-arrow-left"></button>
			<h1 class="title">商品列表</h1>
			<button class="button button-icon icon " ><a href="#/goodsList.new">商品申请</a></button>
		</ion-header-bar>
	<!-- heaaer -->
	<ion-tabs class="tabs-light tabs-striped tabs-top">
		<ion-tab title="待售商品">
			<ion-view>
				<ion-content class="light-bg">
					<a href="#/goodsListNew">我是跳转新增商品</a>
					<div class="list">
						<a href="detials.html" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
						</a>
						<!-- item -->
					</div>
		<!-- goods style 2 -->
				</ion-content>
			</ion-view>
		</ion-tab>
		<ion-tab title="在售商品">
			<ion-view>
				<ion-content class="light-bg">
					<div class="list">
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->

						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>2可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
					</div>
		<!-- goods style 2 -->	
				</ion-content>
			</ion-view>
		</ion-tab>
		<ion-tab title="停售商品">
			<ion-view>
				<ion-content class="light-bg">
					<div class="list">
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
						<a href="" class="item item-thumbnail-left" >
							<img src="../images/1.jpg">
							<h3>3可莎蜜儿面包店北海道面包可莎蜜儿面包店 北海道面包</h3>
							<br>
							<br>
				      		<p>售价：<strong>99.00</strong>鸡毛 ￥40.0 <span>2015-2-08</span></p>
				      		
						</a>
						<!-- item -->
					</div>
		<!-- goods style 2 -->
				</ion-content>
			</ion-view>
		</ion-tab>
	</ion-tabs>
	</div>
	<!-- goodList -->

</ion-view>